# Beady .htaccess file 
#---------------------

# 1. Declare options
Options -Indexes +FollowSymLinks -Multiviews

# 2. mod_rewrite rules
<IfModule mod_rewrite.c>
 	# 2.1. Turn mod_rewrite on
	RewriteEngine On
	
	# 2.2 mod_rewrite base
	RewriteBase /~b2-argo/public_html/wp/assignment/
	
	# 2.3. Rewrite pages
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)$ index.php?p=$1 [L,QSA]
</IfModule>

# 3. Add custom file types
AddType application/x-httpd-php .inc

# 4. Enable compression
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary