/***********************************************************************
 * @file: beady.less -> beady.css
 * @lang: LESS -> CSS
 * @author: 10008548
 * @project: WP Project
 * @version: 1.0
 *
 * This is the primary style sheet for use with Web Design Principles
 * project 2. It is written in LESS and subsequently compiled to CSS.
 *
 * Please note, the table of contents are relevant to the LESS source
 * code, and may not match in the compiled CSS.
 *
 * Table of Contents
 *
 * 0. Variables
 * 1. Common classes & pseudo-classes
 * 2. Desktop Screens
 *    2.1.  Typography
 *    2.2.  Header
 *    2.3.  Primary Navigation
 *    2.4.  Search Bar
 *    2.5.  Articles
 *    2.6.  Aside
 *    2.7.  Footer
 *    2.8.  Tables
 *    2.9.  Lists
 *    2.10. Forms
 * 3. Mobile Screens
 *    3.1.  Typography
 *    3.2.  Header
 *    3.3.  Primary Navigation
 *    3.4.  Search Bar
 *    3.5.  Articles
 *    3.6.  Aside
 *    3.7.  Footer
 *    3.8.  Tables
 *    3.9.  Lists
 *    3.10. Forms
 * 4. Print
 *    4.1.  Typography
 *    4.2.  Header
 *    4.3.  Primary Navigation
 *    4.4.  Search Bar
 *    4.5.  Articles
 *    4.6.  Aside
 *    4.7.  Footer
 *    4.8.  Tables
 *    4.9.  Lists
 *    4.10. Forms 
 ***********************************************************************/
/* 0. Variables */
/* 1. Common classes & pseudo-classes
 * Most of these classes are hidden from the compiled CSS, and are used entirely by LESS. */
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url('http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/-74JUGs8W14C5cCBFRS307rIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url('http://themes.googleusercontent.com/static/fonts/marckscript/v4/O_D1NAZVOFOobLbVtW3bcqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantata One'), local('CantataOne-Regular'), url('http://themes.googleusercontent.com/static/fonts/cantataone/v1/Ur66QXTDfN1RjqAm41DRZbrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
/* 2. Desktop screens */
@media screen {
  /* 2.1. Typography */
  body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    background: #fff2e0;
  }
  /* 2.2. Header */
  body > header {
    background: #824328;
    border-bottom: solid 3px #d9b066;
    height: 122px;
    /* 2.3. Primary Navigation */
  
  }
  body > header #skip {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    opacity: 0;
    background: #f7f6f6;
    font-size: 0.7em;
    color: #292828;
    text-decoration: none;
    text-align: center;
    border-left: solid 2px #e7435e;
    border-bottom: solid 2px #e7435e;
    border-right: solid 2px #e7435e;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
  }
  body > header #skip:focus {
    opacity: 1;
    outline: 0;
  }
  body > header hgroup {
    float: left;
    margin: -18px 0 0 20px;
  }
  body > header hgroup a {
    display: block;
    padding: 10px 20px 20px;
    border: solid 1px transparent;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
  }
  body > header hgroup a:hover {
    background: #a3693a;
  }
  body > header hgroup a:active {
    background: #a3693a;
    border: solid 1px #e7435e;
  }
  body > header hgroup a:focus {
    outline: none;
    border: solid 1px #e7435e;
  }
  body > header hgroup h1 {
    font-family: 'Alegreya SC', serif;
    font-size: 2.6em;
    color: #f7f6f6;
    text-align: center;
    font-weight: 600;
  }
  body > header hgroup h2 {
    font-family: 'Alegreya SC', serif;
    font-size: 1.1em;
    color: #d9b066;
    text-align: center;
  }
  body > header nav {
    float: right;
    height: 33px;
    margin: 65px 20px 0 auto;
    background: #d9b066;
    border: solid 0 transparent;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
  }
  body > header nav li {
    display: block;
    float: left;
    height: 33px;
    line-height: 33px;
    list-item-style: none;
    text-align: center;
    margin: 0 10px 0 0;
  }
  body > header nav li:first-of-type {
    margin: 0 10px 0 10px;
  }
  body > header nav li > a {
    display: block;
    padding: 0 5px;
    color: #292828;
    text-decoration: none;
    border: solid 0 transparent;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  body > header nav li > a:hover {
    background: #a3693a;
  }
  body > header nav li > a:focus {
    background: #a3693a;
    outline: 0;
  }
  body > #search {
    width: 300px;
    height: 33px;
    margin: 0 20px 0 auto;
    background: #d9b066;
    border: solid 2px #d9b066;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
  }
  body > #search input[type="text"] {
    width: 250px;
    height: 27px;
    padding: 2px;
    margin: -2px 2px 2px;
    background: #f7f6f6;
    border: solid 1px #d9b066;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 0.9em;
  }
  body > #search input[type="text"]:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  body > #search input[type="submit"] {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: -2px 2px 2px;
    padding: 0px;
    background: transparent;
    border: none;
    color: #f7f6f6;
    font-size: 1.0em;
  }
  body > #search input[type="submit"]:hover {
    border: solid 1px #e7435e;
  }
  body > #search input[type="submit"]:active {
    border: solid 1px #e7435e;
    background-color: #824328;
  }
  body > #search input[type="submit"]:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  body > article {
    margin: -13px 10px 20px 20px;
  }
  body > article * {
    margin: 0 0 10px;
  }
  body > article a {
    color: #e7435e;
    text-decoration: none;
  }
  body > article a:hover {
    text-decoration: underline;
  }
  body > article a:focus {
    text-decoration: underline;
    outline: 0;
  }
  body > aside {
    float: right;
    width: 300px;
    margin: 10px 20px 20px 10px;
  }
  body > aside * {
    margin: 0 0 10px;
  }
  body > aside a {
    color: #e7435e;
    text-decoration: none;
  }
  body > aside a:hover {
    text-decoration: underline;
  }
  body > aside a:focus {
    text-decoration: underline;
    outline: 0;
  }
  body > aside a > img {
    display: block;
    margin: 0 0 0 -1px;
    border: solid 1px transparent;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
  }
  body > aside a > img:hover {
    border: solid 1px #e7435e;
  }
  body > aside a > img:active {
    border: solid 1px #e7435e;
  }
  body > aside a > img:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  body > footer #footer-left {
    float: left;
    margin: 10px;
    font-size: 0.7em;
  }
  body > footer #footer-left p {
    margin: 0 0 5px 0;
  }
  body > footer #footer-left a {
    color: #e7435e;
    text-decoration: none;
  }
  body > footer #footer-left a:hover {
    text-decoration: underline;
  }
  body > footer #footer-left a:focus {
    outline: none;
    text-decoration: underline;
  }
  body > footer #footer-right {
    float: right;
    margin: 10px;
  }
  body > footer #footer-right a {
    display: inline-block;
    height: 50px;
    padding: 5px;
    border: solid 1px transparent;
  }
  body > footer #footer-right a:hover {
    border: solid 1px #e7435e;
  }
  body > footer #footer-right a:focus {
    outline: none;
    border: solid 1px #e7435e;
  }
}
