/***********************************************************************
 * @file: organica.less -> organica.css
 * @lang: LESS -> CSS
 * @author: 10008548
 * @project: WDP Project 2
 * @version: 1.0
 *
 * This is the primary style sheet for use with Web Design Principles
 * project 2. It is written in LESS and subsequently compiled to CSS.
 *
 * Please note, the table of contents are relevant to the LESS source
 * code, and may not match in the compiled CSS.
 *
 * It has been ported to work with Web Programming
 *
 * Table of Contents
 *
 * 0. Variables
 * 1. Common classes & pseudo-classes
 * 2. Desktop Screens
 *    2.1.  Typography
 *    2.2.  Header
 *    2.3.  Primary Navigation
 *    2.4.  Search Bar
 *    2.5.  Articles
 *    2.6.  Aside
 *    2.7.  Footer
 *    2.8.  Tables
 *    2.9.  Lists
 *    2.10. Forms
 * 3. Mobile Screens
 *    3.1.  Typography
 *    3.2.  Header
 *    3.3.  Primary Navigation
 *    3.4.  Search Bar
 *    3.5.  Articles
 *    3.6.  Aside
 *    3.7.  Footer
 *    3.8.  Tables
 *    3.9.  Lists
 *    3.10. Forms
 * 4. Print
 *    4.1.  Typography
 *    4.2.  Header
 *    4.3.  Primary Navigation
 *    4.4.  Search Bar
 *    4.5.  Articles
 *    4.6.  Aside
 *    4.7.  Footer
 *    4.8.  Tables
 *    4.9.  Lists
 *    4.10. Forms 
 ***********************************************************************/
/* 0. Variables */
/* 1. Common classes & pseudo-classes
 * Most of these classes are hidden from the compiled CSS, and are used entirely by LESS. */
* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
/* Custom Fonts */
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: normal;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url('http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/-74JUGs8W14C5cCBFRS307rIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: normal;
  src: local('Marck Script'), local('MarckScript-Regular'), url('http://themes.googleusercontent.com/static/fonts/marckscript/v4/O_D1NAZVOFOobLbVtW3bcqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: normal;
  src: local('Cantata One'), local('CantataOne-Regular'), url('http://themes.googleusercontent.com/static/fonts/cantataone/v1/Ur66QXTDfN1RjqAm41DRZbrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
/* 2. Desktop screens */
@media screen {
  /* 2.1. Typography */
  body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    background: #fff2e0;
  }
  a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
  /* 2.2. Header */
  body > header {
    background: #2a1910;
    height: 132px;
    /* // #skip */
  
    /* // #logo */
  
  }
  body > header #skip {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    opacity: 0;
    background: #fff2e0;
    font-size: 0.7em;
    color: #2f1812;
    text-decoration: none;
    text-align: center;
    border-left: solid 2px #e7435e;
    border-bottom: solid 2px #e7435e;
    border-right: solid 2px #e7435e;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
  }
  body > header #skip:focus {
    opacity: 1;
    outline: 0;
  }
  body > header #logo {
    margin: -14px auto 10px;
    display: block;
    padding: 10px 20px 20px;
    border: solid 1px transparent;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
  }
  body > header #logo:hover {
    border: solid 1px #e7435e;
  }
  body > header #logo:active {
    border: solid 1px #e7435e;
  }
  body > header #logo:focus {
    outline: none;
    border: solid 1px #e7435e;
  }
  body > header #logo h1 {
    font-family: 'Alegreya SC', serif;
    font-size: 2.6em;
    color: #f7f6f6;
    text-align: center;
    font-weight: 600;
  }
  body > header #logo h2 {
    font-family: 'Marck Script', serif;
    font-size: 1.1em;
    color: #fff2e0;
    text-align: center;
  }
  /* // body > header */
  /* 2.3. Primary Navigation */
  nav {
    height: 35px;
    background: #6d4f3f;
    /* // nav li > a */
  
  }
  nav ol {
    width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  nav li {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    list-style-type: none;
    margin: 0 2px;
  }
  nav li > a {
    display: block;
    padding: 0 10px;
    color: #fff2e0;
    text-decoration: none;
  }
  nav li > a.active {
    background: #fff2e0;
    color: #e7435e;
  }
  nav li > a:hover {
    background: #fff2e0;
    color: #e7435e;
  }
  nav li > a:focus {
    background: #fff2e0;
    color: #e7435e;
    outline: 0;
  }
  /* // nav */
  article {
    width: 640px;
    margin: 0 0 20px;
    padding: 10px 0 0;
  }
  article * {
    margin: 0 0 20px;
  }
  article p {
    line-height: 1.3em;
  }
  /* // article */
  aside {
    float: right;
    width: 300px;
    margin: 0 0 20px 20px;
    padding: 10px 0 0;
    /* // aside a */
  
    /* Search Feature */
  
    /* // #search */
  
  }
  aside * {
    margin: 0 0 10px;
  }
  aside a {
    color: #e7435e;
    text-decoration: none;
    /* // aside a > img */
  
  }
  aside a:hover {
    text-decoration: underline;
  }
  aside a:focus {
    text-decoration: underline;
    outline: 0;
  }
  aside a > img {
    display: block;
    margin: 0 0 0 -1px;
    border: solid 1px transparent;
  }
  aside a > img:hover {
    border: solid 1px #e7435e;
  }
  aside a > img:active {
    border: solid 1px #e7435e;
  }
  aside a > img:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  aside ul,
  aside ol {
    margin: 0;
    padding: 0 0 0 20px;
  }
  aside #search {
    width: 300px;
    height: 37px;
    margin: 10px 20px 20px auto;
    background: #6d4f3f;
    border: solid 2px #6d4f3f;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 1px 1px 1px 1px #6d4f3f;
    -moz-box-shadow: 1px 1px 1px 1px #6d4f3f;
    box-shadow: 1px 1px 1px #6d4f3f;
    /* // input[type="text"] */
  
    /* // input[type="submit"] */
  
  }
  aside #search input[type="text"] {
    width: 250px;
    height: 27px;
    padding: 2px;
    margin: 2px 2px 2px;
    background: #f7f6f6;
    border: solid 1px #6d4f3f;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 0.9em;
  }
  aside #search input[type="text"]:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  aside #search input[type="submit"] {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: -2px 2px 2px;
    padding: 0px;
    background: transparent;
    border: none;
    color: #f7f6f6;
    font-size: 1.0em;
  }
  aside #search input[type="submit"]:hover {
    border: solid 1px #e7435e;
  }
  aside #search input[type="submit"]:active {
    border: solid 1px #e7435e;
    background-color: #2a1910;
  }
  aside #search input[type="submit"]:focus {
    outline: 0;
    border: solid 1px #e7435e;
  }
  /* // aside */
  /* Page Footer */
  footer {
    clear: both;
    /* // #footer-left */
  
    /* // #footer-right */
  
  }
  footer #footer-left {
    float: left;
    margin: 38px 0 10px;
    font-size: 0.7em;
    /* // #footer-left a */
  
  }
  footer #footer-left p {
    margin: 0 0 5px 0;
  }
  footer #footer-left a {
    color: #e7435e;
    text-decoration: none;
  }
  footer #footer-left a:hover {
    text-decoration: underline;
  }
  footer #footer-left a:focus {
    outline: none;
    text-decoration: underline;
  }
  footer #footer-right {
    float: right;
    margin: 10px 0;
    /* // #footer-right a */
  
  }
  footer #footer-right a {
    display: inline-block;
    height: 50px;
    padding: 5px;
    border: solid 1px transparent;
  }
  footer #footer-right a:hover {
    border: solid 1px #e7435e;
  }
  footer #footer-right a:focus {
    outline: none;
    border: solid 1px #e7435e;
  }
  /* // footer */
  .properties {
    /* // .property */
  
  }
  .properties .property {
    float: left;
    width: 310px;
    /* // .price */
  
    /* // .ratings */
  
  }
  .properties .property:nth-of-type(2n-1) {
    clear: left;
    margin-right: 20px;
  }
  .properties .property .price {
    font-size: 1.4em;
    font-weight: 600;
  }
  .properties .property .price:before {
    content: "£";
  }
  .properties .property .price:after {
    content: "pp";
  }
  .properties .property ul {
    margin-left: 20px;
  }
  .properties .property ul li {
    margin-bottom: 5px;
  }
  .properties .property .ratings dt {
    clear: left;
    float: left;
    margin: 0 5px 5px 0;
  }
  .properties .property .ratings dt:after {
    content: ":";
  }
  .properties .property .ratings dd {
    float: left;
    margin: 0 0 5px 0;
  }
  /* // .properties */
  .poi {
    /* // .place */
  
  }
  .poi .place {
    float: left;
    width: 310px;
  }
  .poi .place:nth-of-type(2n-1) {
    clear: left;
    margin-right: 20px;
  }
  /* // .poi */
  /* Contact Form */
  .contact form {
    /* // label */
  
  }
  .contact form label {
    width: 200px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  .contact form label:after {
    content: ":";
  }
  .contact form p.submit {
    margin: -20px 0 0 205px;
  }
  .contact form input {
    font-size: 1em;
    border: solid 2px transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .contact form input[type="text"],
  .contact form input[type="email"],
  .contact form input[type="tel"] {
    width: 406px;
    padding: 5px;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
  }
  .contact form input[type="submit"] {
    padding: 5px;
    background-color: #9e7064;
    color: #f7f6f6;
    border: solid 2px transparent;
  }
  .contact form input[type="submit"]:hover {
    border: solid 2px #e7435e;
  }
  .contact form input:focus {
    outline: 0;
    border: solid 2px #e7435e;
  }
  .contact form textarea {
    display: inline-block;
    width: 406px;
    max-width: 406px;
    padding: 5px;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    overflow: visible;
    border: solid 2px transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .contact form textarea:focus {
    outline: 0;
    border: solid 2px #e7435e;
  }
  .contact form .remaining {
    display: block;
    margin-right: 18px;
    text-align: right;
  }
  /* // .contact */
}
